@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;700&display=swap');
:root{
--dark-blue: #1f3e72;
--light-blue:#4e6ada;
--gray:#939dae;
}

*{
 font-family: 'Noto Sans', sans-serif;
 margin:0;
 padding:0;
 box-sizing: border-box;
 color: var(--gray);
}

.container{
    max-width: 1024px;
    margin: auto;
}

.wrapper{
    padding: 0 4em;
}

.icon{
    margin-right: 10px;
    height: 15px;
    width: 15px;
}
.title-section{
    color: var(--dark-blue);
    font-size: 2em;
}

.brand-title{
    color:var(--light-blue);
    font-size: 1.5em;
    font-weight: 800;
}

.menu{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.menu-list{
    display: flex;
    gap: 3em;
}
.bt-action{
    border: none;
    background-color: var(--light-blue);
    padding: 5px 10px;
    border-radius: 2px;
    color: #ffffff;
    box-shadow: 1px 1px 5px #1f3e72;
}
.bt-action:hover{
    cursor: pointer;
}

.menu-list ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-list ul a{
    text-decoration: none;
}

.hero{
    position: relative;
    display: flex;
}
.header-title {
    padding-top:100px ;
}
.header-title h1{
   color: var(--dark-blue);
   font-size: 4em;
   font-weight: 700;
}

.header-title p{
    margin-right: 3em;
    font-size: 1.1rem;
    font-weight: 500;
 }

.header-img{
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.header-img img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    height: 100%;
}

.header-services-title{
    color: var(--dark-blue);
    padding-top: 40px;
    font-size: 0.7em;
    display: flex;
    align-items: center;
}

.header-services-title p{
    font-size: 1.2em;
    font-weight: 500;
}
.schedule-info{
    position: absolute;
    bottom: 10px;
    left: 60px;
}
.schedule-info h3{
    color: var(--dark-blue);
}
.container-schedule{
    margin-top: 15px;
    background-color: #ffffffe5;
    box-shadow: #00000059 0px 5px 5px;
    padding: 1em 2em;
    display: flex;
    gap:3em;
}

.container-schedule button{
    padding: 5px 40px;
}

.shedule-item p:nth-child(2){
    color: var(--dark-blue);
    font-size: 1.4em;
    font-weight: 700;
    margin-left: 25px;
}

.labs-logos{
    background-color: #1f3e72;
    height: 150px;
}

.section-separation-top{
    margin-top: 80px;
}

.should-vaccine{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.should-vaccine-copy{
    grid-column:1/2;
    font-size: 1.1em;
}
.should-vaccine h3{
    color: var(--dark-blue);
    font-size: 1.5em;
}
.vaccine-pros{
    grid-column-start: 1;
    grid-column-end:3;
    margin-top: 50px;
    display: flex;
    gap: 2em;
}

.vaccine-preparation{
    display: flex;
    width: 100%;
}

.img-vaccine-preparation{
    align-self: flex-end;
    width:1200px;
}
.img-vaccine-preparation img{
    width: 100%;
}

.preparation-vaccine-area{
    flex-grow: 1;
}

.preparation-vaccine-area .section-info{
    padding: 0 3em;
}

.acordeon-container{
    padding: 0 4em;
}

.accordion-item{
    margin-top: 20px;
    padding: .5em;
    border: solid #1f3d727c 1px;
    border-radius: 5px;
}
.acordeon-selection{
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

.accordeon-title{
    color: var(--dark-blue);
    font-size: 1.2em;
}

.item-accordeon-title {
    display: flex;
    align-items: center;
}
.item-accordeon-title img{
    margin-right:20px ;
}

.accordion-item .accordeon-body{
    padding: 1em 2em;
}