@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;700&display=swap');
:root{
--dark-blue: #1f3e72;
--light-blue:#4e6ada;
--gray:#939dae;
}

*{
 font-family: 'Noto Sans', sans-serif;
 margin:0;
 padding:0;
 color:var(--gray)
}

.container{
    max-width: 1024px;
    margin: auto;
}

.brand-title{
    color:var(--light-blue);
    font-size: 1.5em;
    font-weight: 800;
}

.menu{
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
}
.menu-list{
    display: flex;
    gap: 2em;
}
.bt-action{
    border: none;
    background-color: var(--light-blue);
    padding: 5px 10px;
    border-radius: 2px;
    color: #ffffff;
    box-shadow: 1px 1px 5px #1f3e72;
}
.menu-list ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}