.App{
  width: 600px;
  height: 600px;
}

.container{
  padding: .5em;
}
.todo-box{
  display: flex;
  justify-content: space-around;
  border-radius:10px;
  background-color: #006eff;
}

.bt-add{
  background-color: #3d9645;
  border: none;
  border-radius: 5px;
}
